<script setup lang="ts">
import { ref, onMounted } from "vue";
import Chart from "primevue/chart";
import Card from "primevue/card";

onMounted(() => {
  chartData.value = setChartData();
  chartOptions.value = setChartOptions();
});

const chartData = ref();
const chartOptions = ref();

const setChartData = () => {
  const documentStyle = getComputedStyle(document.documentElement);

  return {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [
      {
        label: 'ASX 200',
        fill: false,
        borderColor: documentStyle.getPropertyValue('--red-500'),
        yAxisID: 'y',
        tension: 0,
        data: [65, 59, 80, 81, 56, 55, 10]
      }
    ]
  };
};
const setChartOptions = () => {
  const documentStyle = getComputedStyle(document.documentElement);
  const textColor = documentStyle.getPropertyValue('--text-color');
  const textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');

  return {
    stacked: false,
    maintainAspectRatio: false,
    // aspectRatio: 1.0,
    plugins: {
      legend: {
        display: false,
        labels: {
          color: textColor
        }
      }
    },
    scales: {
      x: {
        display: false,
      },
      y: {
        type: 'linear',
        display: false,
        position: 'left',
        ticks: {
          color: textColorSecondary
        },
      },
      y1: {
        display: false,
      }
    }
  };
}
</script>

<template>
  <Card style="height: 100%">
    <template #title>ASX 200</template>
    <template #subtitle><span style="color: red">7643.60 -32.40 (-0.43)</span></template>
    <template #content>
      <Chart type="line" :data="chartData" :options="chartOptions" style="height: 10rem" />
    </template>
  </Card>
</template>

<style scoped>

</style>