<script setup lang="ts">
import StockGrid from "./StockGrid.vue";


</script>

<template>
  <div class="grid-container">
<!--    <div class="grid-item"><TopStocks /></div>-->
    <StockGrid class="grid-item" />
<!--    <StockTicker v-if="selectedInstrument && selectedPrice?.value" :stock="selectedInstrument" :stock-price="selectedPrice.value" />-->

<!--    &lt;!&ndash; Example items &ndash;&gt;-->
<!--    <div v-for="item in 10" :key="item" class="grid-item">-->
<!--      Component {{ item }}-->
<!--    </div>-->
  </div>
</template>

<style scoped>
/* Flexbox container for grid layout */
.grid-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next row */
  gap: 1rem; /* Add spacing between the components */
  justify-content: flex-start; /* Align items horizontally to the start */
}

/* Style for each component in the grid */
.grid-item {
  min-width: 150px; /* Adjust to set the minimum width for a component */
  max-width: 100%; /* Ensure it doesn't overflow */
  flex: 1 1 calc(25% - 1rem); /* Flexible sizing: takes ~25% width, adjusts for spacing (gap) */
  box-sizing: border-box;
  background: var(--surface-b); /* PrimeVue surface variable (if you're using theme variables) */
  padding: 1rem;
  text-align: center; /* Center content inside the item */
  border: 1px solid var(--surface-d); /* Optional: styling for the item */
  border-radius: 8px; /* Optional: add rounded corners */
}
</style>
