<script setup lang="ts">
import { computed } from "vue";

// Define component props
const props = defineProps({
  // The monetary value to be displayed
  value: {
    type: Number,
    default: null,
  },
  // The currency symbol to use (default: '$')
  currencySymbol: {
    type: String,
    default: "$",
  },
  // Whether to show the currency symbol or not (default: true)
  showCurrencySymbol: {
    type: Boolean,
    default: true,
  },
  // Number of decimal places to display (default: 2)
  decimalPlaces: {
    type: Number,
    default: 2,
  },
});

// Computed property to format the displayed value
const formattedValue = computed(() => {
  // Format the number with the specified decimal places and additional zeros
  const formattedNumber = props?.value?.toFixed(props.decimalPlaces) ?? "";

  // Include the currency symbol if enabled
  return props.showCurrencySymbol
      ? `${props.currencySymbol}${formattedNumber}`
      : formattedNumber;
});
</script>

<template>
  <!-- Display the formatted value -->
  <span class="monetary-value">{{ formattedValue }}</span>
</template>

<style scoped>
.monetary-value {
  font-size: 1rem;
  font-weight: 500;
}
</style>