<template>
  <form @submit.prevent="submitOrder" class="p-fluid grid formgrid">
    <!-- Symbol Input Field -->
    <div class="field col-12 md:col-6">
      <label for="symbol" class="block font-semibold">Symbol</label>
      <InputText id="symbol" v-model="orderForm.symbol" placeholder="Enter stock symbol" />
      <small v-if="errors.symbol" class="p-error">{{ errors.symbol }}</small>
    </div>

    <!-- Order Type Dropdown -->
    <div class="field col-12 md:col-6">
      <label for="orderType" class="block font-semibold">Order Type</label>
      <Dropdown
          id="orderType"
          v-model="orderForm.orderType"
          :options="orderTypes"
          optionLabel="label"
          placeholder="Select order type"
          class="w-full"
      />
      <small v-if="errors.orderType" class="p-error">{{ errors.orderType }}</small>
    </div>

    <!-- Order Classification Dropdown -->
    <div class="field col-12 md:col-6">
      <label for="orderClassification" class="block font-semibold">Order Classification</label>
      <Dropdown
          id="orderClassification"
          v-model="orderForm.orderClassification"
          :options="orderClassifications"
          optionLabel="label"
          placeholder="Select classification"
          class="w-full"
      />
      <small v-if="errors.orderClassification" class="p-error">{{ errors.orderClassification }}</small>
    </div>

    <!-- Price Input Field -->
    <div class="field col-12 md:col-6">
      <label for="price" class="block font-semibold">Price</label>
      <InputGroup>
        <InputGroupAddon>$</InputGroupAddon>
        <InputNumber
            id="price"
            v-model="orderForm.price"
            :min="0"
            placeholder="Enter price"
            class="w-full"
        />
      </InputGroup>
      <small v-if="errors.price" class="p-error">{{ errors.price }}</small>
    </div>

    <!-- Amount Input Field -->
    <div class="field col-12 md:col-6">
      <label for="amount" class="block font-semibold">Amount</label>
      <InputNumber
          id="amount"
          v-model="orderForm.amount"
          :min="1"
          placeholder="Enter amount"
          class="w-full"
      />
      <small v-if="errors.amount" class="p-error">{{ errors.amount }}</small>
    </div>

    <!-- Time In Force Dropdown -->
    <div class="field col-12 md:col-6">
      <label for="timeInForce" class="block font-semibold">Time In Force</label>
      <Dropdown
          id="timeInForce"
          v-model="orderForm.timeInForce"
          :options="timeInForceOptions"
          optionLabel="label"
          placeholder="Select time in force"
          class="w-full"
      />
      <small v-if="errors.timeInForce" class="p-error">{{ errors.timeInForce }}</small>
    </div>

    <!-- Status Dropdown -->
    <div class="field col-12 md:col-6">
      <label for="status" class="block font-semibold">Status</label>
      <Dropdown
          id="status"
          v-model="orderForm.status"
          :options="statusOptions"
          optionLabel="label"
          placeholder="Set status"
          class="w-full"
      />
      <small v-if="errors.status" class="p-error">{{ errors.status }}</small>
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="field col-12 flex justify-content-end">
      <Button label="Cancel" class="p-button-secondary p-mr-2" icon="pi pi-times" @click="handleCancel" />
      <Button label="Submit" class="p-button p-button-primary" icon="pi pi-check" @click="handleSubmit"/>
    </div>
  </form>
</template>

<script setup lang="ts">
import { useToast } from "primevue/usetoast";
import InputText from "primevue/inputtext";
import Dropdown from "primevue/dropdown";
import InputNumber from "primevue/inputnumber";
import Button from "primevue/button";
import { ref, defineEmits } from "vue";

// Define emits
const emit = defineEmits(['cancel', 'submit']);

// Toast instance for feedback
const toast = useToast();

const handleCancel = () => {
  resetForm()
  emit('cancel'); // Emit the 'cancel' event
};

// Reactive Order Form Data and Validation State
const orderForm = ref({
  symbol: "",
  orderType: null,
  orderClassification: null,
  price: null,
  amount: null,
  timeInForce: null,
  status: null,
});

// Dropdown options
const orderTypes = [
  { label: "Buy", value: "BUY" },
  { label: "Sell", value: "SELL" },
];

const orderClassifications = [
  { label: "Limit", value: "LIMIT" },
  { label: "Market", value: "MARKET" },
  { label: "Stop", value: "STOP" },
  { label: "Trailing", value: "TRAILING" },
];

const timeInForceOptions = [
  { label: "Good-Till-Canceled (GTC)", value: "GTC" },
  { label: "Fill-Or-Kill (FOK)", value: "FOK" },
  { label: "Immediate-Or-Cancel (IOC)", value: "IOC" },
  { label: "Day Order (DAY)", value: "DAY" },
  { label: "Good-Till-Time (GTT)", value: "GTT" },
];

const statusOptions = [
  { label: "Open", value: "OPEN" },
  { label: "Filled", value: "FILLED" },
  { label: "Canceled", value: "CANCELED" },
];

// Submit Order Method (triggers form submission)
function submitOrder() {
  console.log("Order submitted:", orderForm.value);
  toast.add({ severity: "success", summary: "Order Submitted", detail: "Your order has been placed!" });
  resetForm();
}

// Reset Order Form
function resetForm() {
  orderForm.value = {
    symbol: "",
    orderType: null,
    orderClassification: null,
    price: null,
    amount: null,
    timeInForce: null,
    status: null,
  };
}

// Form validation flags
const errors = ref<{
  symbol: string | null,
  orderType: string | null,
  quantity: string | null,
  priceType: string | null,
  price: string | null,
  amount: string | null,
  status: string | null,
  timeInForce: string | null,
  orderClassification: string | null,
}>({
  symbol: null,
  orderType: null,
  quantity: null,
  priceType: null,
  price: null,
  amount: null,
  status: null,
  timeInForce: null,
  orderClassification: null
});

// Validation function
const validateForm = () => {
  let isValid = true;

  // Clear previous errors
  Object.keys(errors.value).forEach(key => {
    (errors.value as Record<string, string | null>)[key] = "";
  });

  // Validate each field
  if (!orderForm.value.symbol) {
    errors.value.symbol = "Symbol is required.";
    isValid = false;
  }
  if (!orderForm.value.orderType) {
    errors.value.orderType = "Order type is required.";
    isValid = false;
  }
  if (!orderForm.value.orderClassification) {
    errors.value.orderClassification = "Order classification is required.";
    isValid = false;
  }
  if (orderForm.value.price === null || orderForm.value.price <= 0) {
    errors.value.price = "Price must be greater than 0.";
    isValid = false;
  }
  if (orderForm.value.amount === null || orderForm.value.amount <= 0) {
    errors.value.amount = "Amount must be greater than 0.";
    isValid = false;
  }
  if (!orderForm.value.timeInForce) {
    errors.value.timeInForce = "Time in force is required.";
    isValid = false;
  }
  if (!orderForm.value.status) {
    errors.value.status = "Status is required.";
    isValid = false;
  }

  return isValid;
};


// Handle form submission
const handleSubmit = () => {
  // Validate the form
  const isFormValid = validateForm();

  if (isFormValid) {
    // Call existing submitOrder logic (this can be adjusted as per the existing logic)
    submitOrder();

    // Emit the 'submit' event with the form data
    emit("submit", { ...orderForm.value });

    // Show success feedback
    toast.add({
      severity: "success",
      summary: "Order Submitted",
      detail: "The order was submitted successfully.",
      life: 3000,
    });
  } else {
    // Show error feedback
    toast.add({
      severity: "error",
      summary: "Validation Failed",
      detail: "Please correct the errors in the form.",
      life: 3000,
    });
  }
};

</script>