<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Card from 'primevue/card';
import {orderService} from "../../services/orderService.ts";
import MoneyView from "./MoneyView.vue";

// Orders from the orderService
const orders = orderService.orders;

console.log("Orders loaded into OrdersTable:", orders.value); // Debug output

</script>

<template>

  <Card>
    <template #title>Orders</template>
    <template #content>
      <p class="m-0">
        <DataTable :value="orders" class="p-datatable">
          <Column field="id" header="ID" />
          <Column field="symbol" header="Symbol" />
          <Column field="orderType" header="Order Type" />
          <Column field="orderClassification" header="Classification" />
          <Column header="Price">
            <template #body="slotProps">
              <MoneyView
                  :value="slotProps.data.price"
                  :showCurrencySymbol="slotProps.data.price !== null"
              />

            </template>
          </Column>
          <Column field="amount" header="Amount" />
          <Column field="timeInForce" header="Time In Force" />
          <Column field="status" header="Status" />
        </DataTable>
      </p>
    </template>
  </Card>
</template>

<style scoped>
.p-datatable {
  width: 100%;
}
</style>
