<template>
  <div class="grid-container">
    <div class="grid-item">
      <OrdersTable />
      <!-- Button to open modal dialog -->
      <div class="mt-4 flex justify-content-end">
        <Button label="Create Order" class="p-button-primary" icon="pi pi-plus" @click="showOrderPad = true" />
      </div>
    </div>


    <!-- Modal dialog for the OrderPad Component -->
    <Dialog header="Create Order" v-model:visible="showOrderPad" modal>
      <OrderPad @cancel="closeOrderPadDialog" @submit="closeOrderPadDialog"/>
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import OrdersTable from './OrdersTable.vue'; // Import OrdersTable component
import OrderPad from './OrderPad.vue'; // Import OrderPad component
import { ref } from 'vue';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';

// Reactive state for showing the OrderPad modal dialog
const showOrderPad = ref(false);

// Method to handle canceling the order pad
const closeOrderPadDialog = () => {
  showOrderPad.value = false;
};

</script>

<style scoped>
.mt-4 {
  margin-top: 1rem;
}
</style>