<template>
  <Card>
    <template #title>Create Order</template>
    <template #content>
      <OrderPad />
    </template>
  </Card>
</template>

<script setup lang="ts">
import OrderPad from "./OrderPad.vue";
</script>