<template>
  <div class="stock-ticker">
    <div class="stock-header">
      <div
          class="stock-symbol"
          :class="{ positive: stockPrice.change >= 0, negative: stockPrice.change < 0 }"
          v-tooltip="{ value: stock.description, showDelay: 500 }"
      >
        {{ stock.symbol }}
      </div>

    </div>
    <div class="stock-prices">
      <div class="price"
           :class="{ positive: props.stockPrice.change >= 0, negative: props.stockPrice.change < 0 }"
      >${{ props.stockPrice.last.toFixed(2) }}</div>
      <div
          class="change"
          :class="{ positive: props.stockPrice.change >= 0, negative: props.stockPrice.change < 0 }"
      >
        ({{ props.stockPrice.change.toFixed(2) }} | {{ props.stockPrice.changePercent.toFixed(2) }}%)
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Instrument, Price } from "../../services/marketDataService";

const props = defineProps<{
  stock: Instrument; // Stock instrument data
  stockPrice: Price; // Stock price details
}>();
</script>

<style scoped>
.stock-ticker {
  width: 250px; /* Adjust as per your preference */
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stock-symbol {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer; /* Ensures the pointer-style cursor */
}

.stock-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.change {
  font-size: 0.9rem;
  font-weight: bold;
}

.positive {
  color: #4caf50; /* Green for positive change */
}

.negative {
  color: #f44336; /* Red for negative change */
}
</style>