<template>
  <div class="flex flex-wrap" style="max-width: 600px">
    <div
        v-for="ticker in stocks"
        :key="ticker.stock.symbol"
        class="flex align-items-center justify-content-center m-1"
    >
      <StockTicker :stock="ticker.stock" :stockPrice="ticker.price" />
    </div>
  </div>
</template>

<script setup lang="ts">
import {onMounted, Ref, ref} from "vue";
import {Instrument, instruments, marketDataService, Price} from "../../services/marketDataService"; // Instruments list // Assuming getPrice method exists
import StockTicker from "./StockTicker.vue"; // StockTicker component

// Define the state for the stocks
const stocks = ref<{ stock: Instrument; price: Ref<Price> }[]>([]);

// Function to pick 20 random instruments
const getRandomInstruments = (num: number) => {
  const shuffled = [...instruments.value].sort(() => 0.5 - Math.random());
  return shuffled.slice(0, num);
};

// Fetch 20 random instruments and their prices
const fetchStocks = async () => {
  const selectedInstruments = getRandomInstruments(20); // Get 20 random instruments
  stocks.value = selectedInstruments
    .map((instrument) => {
      // Get the reactive reference to the price
      const priceRef = marketDataService.getPrice(instrument.symbol); // Returns a Ref<Price> | undefined
      return priceRef ? { stock: instrument, price: priceRef } : null; // Filter out undefined prices
    })
    .filter((ticker): ticker is { stock: Instrument; price: Ref<Price> } => ticker !== null);
};


// Fetch the stocks when the component is mounted
onMounted(() => {
  fetchStocks();
});
</script>

<style scoped>


/* Each StockTicker item in the grid */

</style>