<template>
  <div class="ticker-tape-container">
    <div class="ticker-tape-content" ref="tickerContent" :style="{ animationDuration: `${props.scrollDuration}s` }">
      <div
          v-for="stock in currentStocks"
          :key="stock.symbol"
          class="ticker-item"
      >
        <span class="ticker-symbol">{{ stock.symbol }}</span>
        <span class="ticker-price">{{ stock.last.toFixed(2) }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount } from 'vue';
import { marketDataService } from '../../services/marketDataService.ts';

const props = defineProps({
  scrollDuration: {
    type: Number,
    default: 20, // Default duration for a full cycle of scrolling (seconds)
  },
});

// Reactive list of current stocks being displayed in the ticker
const currentStocks = ref<{ symbol: string; last: number }[]>([]);

// Track the subscription
let pricesSubscription: (updatedPrice: any) => void;

onMounted(() => {
  // Initialize stocks with all available prices
  currentStocks.value = Array.from(marketDataService.prices.value.values()).map(priceRef => ({
    symbol: priceRef.value.symbol,
    last: priceRef.value.last,
  }));

  // Listen to price updates
  pricesSubscription = (updatedPrice) => {
    const stockIndex = currentStocks.value.findIndex(
        (stock) => stock.symbol === updatedPrice.symbol
    );

    if (stockIndex !== -1) {
      // Update the price directly without changing the order
      currentStocks.value[stockIndex].last = updatedPrice.last;
    }
  };

  marketDataService.pricesEmitter.subscribe(pricesSubscription);
});

onBeforeUnmount(() => {
  // Clean up the subscription when the component is destroyed
  if (pricesSubscription) {
    marketDataService.pricesEmitter.unsubscribe(pricesSubscription);
  }
});
</script>

<style scoped>
.ticker-tape-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  font-family: Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  z-index: 9999; /* Ensure tape sits above all other elements */
}

.ticker-tape-content {
  display: inline-flex;
  animation: scroll-left linear infinite;
  white-space: nowrap;
}

.ticker-item {
  margin-right: 2rem; /* Spacing between each ticker item */
  display: flex;
  align-items: center;
}

.ticker-symbol {
  font-weight: bold;
  margin-right: 0.5rem;
}

.ticker-price {
  color: #0f0; /* Green price (can adjust based on gain/loss) */
}

/* Animation keyframes for continuous scrolling */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply animation to the ticker content */
.ticker-tape-content {
  animation: scroll-left linear infinite;
}
</style>