<script setup lang="ts">
import { computed } from 'vue';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import { marketDataService } from "../../services/marketDataService.ts";
import MoneyView from './MoneyView.vue'; // Import the MoneyView component

// Reactive reference to prices
const prices = computed(() => {
  return Array.from(marketDataService.prices.value.values()).map(priceRef => priceRef.value);
});

</script>

<template>
  <Card>
    <template #title>Top Stocks</template>
    <template #content>
      <!-- PrimeVue Table -->
      <DataTable
          :value="prices"
          :tableStyle="{ minWidth: '50rem' }"
          responsiveLayout="scroll"
      >
        <!-- Symbol Column -->
        <Column field="symbol" header="Symbol" sortable></Column>

        <!-- Last Price Column -->
        <Column header="Last Price" sortable>
          <template #body="slotProps">
            <MoneyView :value="slotProps.data.last" />
          </template>
        </Column>

        <!-- Close Price Column -->
        <Column header="Close Price" sortable>
          <template #body="slotProps">
            <MoneyView :value="slotProps.data.close" />
          </template>
        </Column>
      </DataTable>
    </template>
  </Card>
</template>

<style scoped>
h3 {
  margin-bottom: 1rem;
}

.DataTable {
  margin-top: 1rem;
}
</style>