<template>
  <Card>
    <template #title>Trading Accounts</template>
    <template #content>
      <p class="m-0">
        <DataTable :value="tradingAccounts" class="p-datatable">
          <Column field="accountName" header="Account Name(s)" />
          <Column field="accountNumber" header="Account #" />
          <Column field="marketValue" header="Market Value" />
          <Column field="totalCost" header="Total Cost" />
<!--          <Column header="Price">-->
<!--            <template #body="slotProps">-->
<!--              <MoneyView-->
<!--                  :value="slotProps.data.price"-->
<!--                  :showCurrencySymbol="slotProps.data.price !== null"-->
<!--              />-->

<!--            </template>-->
<!--          </Column>-->
          <Column field="profitLoss" header="Profit/Loss" />
          <Column field="change" header="Change (%)" />
          <Column  header="Actions" />
        </DataTable>
      </p>
    </template>
  </Card>
</template>

<script lang="ts" setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Card from 'primevue/card';
import {ref} from "vue";

const tradingAccounts = ref([
  {
    accountName: 'Retirement Account',
    accountNumber: 'RT-123456',
    marketValue: 105000.25, // Current market value of the holdings
    totalCost: 85000.00,    // Total cost of acquiring the holdings
    profitLoss: 20000.25,   // Profit or loss in dollars made from the account
    change: 2.35            // Percentage change over the last 24 hours
  },
  {
    accountName: 'Savings Account',
    accountNumber: 'SA-987654',
    marketValue: 48000.50,  // Current market value of the holdings
    totalCost: 50000.00,    // Total cost of acquiring the holdings
    profitLoss: -2000.50,   // Profit or loss in dollars made from the account
    change: -1.25           // Percentage change over the last 24 hours
  }
]);


</script>

<style scoped>
.p-datatable {
  width: 100%;
}
</style>