<template>
  <div class="p-d-flex p-jc-center p-mt-6">
<!--    <StreetMap />-->
  </div>
</template>

<script lang="ts" setup>
// import { ref } from 'vue';
// import { required, minLength } from '@vuelidate/validators';
// import { useVuelidate } from '@vuelidate/core';
//
// const emailRef = ref('');
// const password = ref('');
//
// const rules = {
//   email: { required, minLength: minLength(5) },
//   password: { required, minLength: minLength(5) },
// };

// const v$ = useVuelidate(rules, { email: emailRef, password });

// const submitForm = () => {
//   const emailError = v$.value.email.$error;
//   const passwordError = v$.value.password.$error;
//
//   if (emailError || passwordError) {
//     return;
//   }
//
//   console.log('Form is valid, handle submission here.')
//   // Handle successful form submission here
// };
</script>

<style scoped>
.p-field > .p-error {
  color: var(--error-color, red);
}
</style>