<template>
  <div class="p-d-flex p-jc-center p-ai-stretch p-mt-6 split-container">
    <!-- Sign In Section -->
    <div class="sign-in-wrapper">
      <Card title="Sign In" class="sign-in-card">
        <template #title>Welcome Back!</template>
        <template #content>
          <form @submit.prevent="submitSignIn">
            <div class="form-field">
              <label for="signInEmail">Email</label>
              <InputGroup>
                <InputGroupAddon>
                  <i class="pi pi-at"></i>
                </InputGroupAddon>
                <InputText id="signInEmail" v-model="signInEmail" class="w-full" />
              </InputGroup>
              <small v-if="signInValidation.signInEmail.$error" class="p-error">Enter a valid email address</small>
            </div>
            <div class="form-field">
              <label for="signInPassword">Password</label>
              <InputGroup>
                <InputGroupAddon>
                  <i class="pi pi-key"></i>
                </InputGroupAddon>
                <Password id="signInPassword" v-model="signInPassword" :feedback="false" class="w-full" />
              </InputGroup>
              <small v-if="signInValidation.signInPassword.$error" class="p-error">Password must contain at least 5 characters</small>
            </div>
            <Button label="Sign In" class="w-full p-mt-2" type="submit" />
          </form>
        </template>
      </Card>
    </div>

    <div class="divider"></div>

    <!-- Sign Up Section -->
    <Card title="Sign Up" class="sign-up-card">
      <template #title>Create an Account</template>
      <template #content>
        <form @submit.prevent="submitSignUp">
          <div class="form-field">
            <label for="signUpEmail">Email</label>
            <InputGroup>
              <InputGroupAddon>
                <i class="pi pi-at"></i>
              </InputGroupAddon>
              <InputText id="signUpEmail" v-model="signUpEmail" class="w-full" />
            </InputGroup>
            <small v-if="signUpValidation.signUpEmail.$error" class="p-error">Enter a valid email address</small>
          </div>
          <div class="form-field">
            <label for="signUpPassword">Password</label>
            <InputGroup>
              <InputGroupAddon>
                <i class="pi pi-key"></i>
              </InputGroupAddon>
              <Password id="signUpPassword" v-model="signUpPassword" :feedback="true" class="w-full" />
            </InputGroup>
            <small v-if="signUpValidation.signUpPassword.$error" class="p-error">Password must contain at least 5 characters</small>
          </div>
          <div class="form-field">
            <label for="confirmPassword">Confirm Password</label>
            <InputGroup>
              <InputGroupAddon>
                <i class="pi pi-key"></i>
              </InputGroupAddon>
              <Password id="confirmPassword" v-model="confirmPassword" :feedback="true" class="w-full" />
            </InputGroup>
            <small v-if="signUpValidation.confirmPassword.$error" class="p-error">Passwords do not match</small>
          </div>
          <div class="form-field">
            <label for="firstName">First Name</label>
            <InputText id="firstName" v-model="firstName" class="w-full" />
            <small v-if="signUpValidation.firstName.$error" class="p-error">First Name is required</small>
          </div>
          <div class="form-field">
            <label for="lastName">Last Name</label>
            <InputText id="lastName" v-model="lastName" class="w-full" />
            <small v-if="signUpValidation.lastName.$error" class="p-error">Last Name is required</small>
          </div>
          <div class="form-field">
            <label for="dob">Date of Birth</label>
            <Calendar id="dob" v-model="dob" dataType="date" showIcon class="w-full" />
            <small v-if="signUpValidation.dob.$error" class="p-error">Date of Birth is required</small>
          </div>
          <Button label="Sign Up" class="w-full p-mt-2" type="submit" />
        </form>
      </template>
    </Card>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { required, email as emailValidator, minLength, sameAs } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import Card from 'primevue/card';
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import Button from 'primevue/button';
import Calendar from 'primevue/calendar';
import InputGroup from 'primevue/inputgroup';
import InputGroupAddon from 'primevue/inputgroupaddon';
import axios from 'axios';
import { useRouter } from 'vue-router';
import { useUserStore } from '../store';
import { v4 as uuidv4 } from 'uuid';

const router = useRouter();
const authStore = useUserStore();
const userGuid = uuidv4();

// Sign-In State and Validation
const signInEmail = ref('');
const signInPassword = ref('');
const signInRules = {
  signInEmail: { required, email: emailValidator },
  signInPassword: { required, minLength: minLength(5) },
};
const signInValidation = useVuelidate(signInRules, { signInEmail, signInPassword });

const submitSignIn = () => {
  if (signInValidation.value.$invalid) {
    signInValidation.value.$touch();
    return;
  }
  try {
    authStore.login(
      signInEmail.value,
      signInPassword.value);
    router.push('/');
  } catch (error) {
    console.error('Sign-In failed', error);
  }
};

// Sign-Up State and Validation
const signUpEmail = ref('');
const signUpPassword = ref('');
const confirmPassword = ref('');
const firstName = ref('');
const lastName = ref('');
const dob = ref<Date | null>(null);
const userStore = useUserStore(); // Pinia store

const signUpRules = {
  signUpEmail: { required, signupEmail: emailValidator },
  signUpPassword: { required, minLength: minLength(5) },
  confirmPassword: { required, sameAsPassword: sameAs(signUpPassword) },
  firstName: { required },
  lastName: { required },
  dob: { required },
};
const signUpValidation = useVuelidate(signUpRules, { signUpEmail, signUpPassword, confirmPassword, firstName, lastName, dob });

// Function to handle Sign-Up submission
const submitSignUp = async () => {
  try {
    const payload = {
      applicants: {
        primary: {
          id: userGuid,
          email: signUpEmail.value,
          firstName: firstName.value,
          lastName: lastName.value,
          dateOfBirth: dob.value
        }
      }
    };

    // Make API call
    const response = await axios.post('/api/origination/1.0', payload);

    if (response.status === 200) {
      // Update user details in the user store
      const pa = payload.applicants.primary;
      userStore.user = {
        id: pa.id,
        username: pa.email,
        firstName: pa.firstName,
        lastName: pa.lastName,
      };

      // Redirect user to the appropriate route (e.g., app's main page)
      await router.push('/');
    } else {
      console.error('Unexpected response format:', response);
    }
  } catch (error) {
    console.error('Error during user origination:', error);
    // Add additional error handling if necessary (e.g., show notification to user)
  }
};

</script>

<style scoped>
.split-container {
  display: flex;
  gap: 2rem;
  max-width: 80rem;
  margin: auto;
  align-items: stretch;
}
.sign-in-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.sign-in-card, .sign-up-card {
  flex: 1;
  width: 100%;
}
.divider {
  width: 1px;
  background-color: var(--primary-color, #ccc);
  height: 100%;
}
.form-field {
  margin-bottom: 1.5rem;
}
</style>