<template>
  <Menubar :model="items">
    <template #item="{ item, props, hasSubmenu }">
      <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
        <a v-ripple :href="href" v-bind="props.action" @click="navigate">
          <span :class="item.icon" />
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </router-link>
      <a v-else v-ripple :href="item.url" :target="item.target" v-bind="props.action">
        <span :class="item.icon" />
        <span class="ml-2">{{ item.label }}</span>
        <span v-if="hasSubmenu" class="pi pi-fw pi-angle-down ml-2" />
      </a>
    </template>
<!--    <template #item="{ item, props, hasSubmenu, root }">-->
<!--      <a v-ripple class="flex align-items-center" v-bind="props.action">-->
<!--        <span :class="item.icon" />-->
<!--        <span class="ml-2">{{ item.label }}</span>-->
<!--        <Badge v-if="item.badge" :class="{ 'ml-auto': !root, 'ml-2': root }" :value="item.badge" />-->
<!--        <span v-if="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>-->
<!--        <i v-if="hasSubmenu" :class="['pi pi-angle-down', { 'pi-angle-down ml-2': root, 'pi-angle-right ml-auto': !root }]"></i>-->
<!--      </a>-->
<!--    </template>-->
    <template #end>
      <div class="flex align-items-center gap-2">
        <InputGroup>
          <InputGroupAddon><i class="pi pi-search"></i></InputGroupAddon>
          <InputText placeholder="Search" type="text" class="w-8rem sm:w-auto" />
        </InputGroup>
        <div v-if="user"><span>{{ user.firstName }} {{ user.lastName }}</span></div>

        <Avatar image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png" shape="circle" />
      </div>
    </template>
  </Menubar>
</template>


<script setup lang="ts">
import {ref} from "vue";
// import Menu from 'primevue/menu';
import Menubar from 'primevue/menubar';
import InputText from 'primevue/inputtext';
import Avatar from 'primevue/avatar';
import { computed } from 'vue';
import useUserStore from "../store.ts";

const userStore = useUserStore(); // Get the user store instance
const user = computed(() => userStore.user); // Get the user from the store (state)

const items = ref([
  {
    label: 'Dashboard',
    route: "/"
  },
  {
    label: 'Portfolio',
    route: "/portfolio"
  },
  {
    label: 'Market Data',
    route: "/market-data"
  },
  {
    label: 'Orders',
    route: "/orders"
  },
  // {
  //   label: 'Client Management',
  //   route: "/client-management"
  // }
])

</script>

<style scoped>
.nav-icons {
  margin-left: auto;
}
</style>