<script setup lang="ts">
import TopNavigation from "./components/TopNavigation.vue";
import { computed } from 'vue'
import {useUserStore} from "./store.ts";

const store = useUserStore()
const loggedIn = computed(() => store.isLoggedIn)

// import TickerTape from './components/widgets/TickerTape.vue';
// import { marketDataService } from './services/marketDataService.ts';
//
// // Track the reactive stock prices from the marketDataService
// const stocks = marketDataService.prices;

</script>

<template>
  <TopNavigation v-if="loggedIn" />
  <router-view />
</template>


<style scoped>
</style>