<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Accounts</span>
        <div class="card-buttons">
          <el-button type="primary" :icon="Refresh" circle @click="refreshAccounts()" />
        </div>
      </div>
    </template>
    <el-table :data="state.accounts" stripe style="width: 100%" >
      <el-table-column prop="name" label="Type" />
      <el-table-column prop="balance" label="Balance">
        <template #default="scope">
          <money-widget :value="scope.row.balance"/>
        </template>
      </el-table-column>
      <el-table-column prop="reserved" label="Reserved">
        <template #default="scope">
          <money-widget :value="scope.row.reserved"/>
        </template>
      </el-table-column>
      <el-table-column prop="bsb" label="BSB" />
      <el-table-column prop="accountNumber" label="Account #" />
    </el-table>

  </el-card>


</template>

<script setup>

import { Refresh } from '@element-plus/icons-vue'
import { onMounted, reactive } from 'vue'
import { getCurrentInstance } from 'vue'
import MoneyWidget from "@/components/MoneyWidget"
import axios from "axios";

const app = getCurrentInstance()

onMounted(async () => {

  app.appContext.config.globalProperties.serverSettingsPromise.then( () => {
    refreshAccounts()
  })

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "CASH_ACCOUNT") {
      console.log("Cash Account " + message)
      refreshAccounts()
    }
  })

})

function refreshAccounts() {

  const urlToUse = app.appContext.config.globalProperties.serverSettings.gatewayAddress + "/cash-accounts-app/api/cash/accounts/1.0";

  app.appContext.config.globalProperties.loggedInUserDetailsPromise
      .then(() => {
        console.log("Refreshing accounts from " + urlToUse);

        (axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
          if (response.status === 200) {
            state.accounts = response.data
          }

        }))
      })
      .catch(() => {
        console.log("Refreshing accounts from " + urlToUse);

        (axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
          if (response.status === 200) {
            state.accounts = response.data
          }

        }))
      })


}

const state = reactive({
  accounts: []
})
//
// function edit(symbol, event) {
//   if (event) {
//     console.log("Editing " + symbol)
//   }
// }
//
// function remove(symbol, event) {
//   if (event) {
//     console.log("Deleting " + symbol)
//   }
// }

</script>

<style scoped>

.card-buttons {
  display: flex;
  justify-content: right;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


</style>
