<template>
  <el-table :data="state.filteredOrders" stripe style="width: 100%">
    <el-table-column prop="symbol" label="Symbol">
      <template #default="scope">
        <symbol-widget :symbol="scope.row.symbol"/>
      </template>
    </el-table-column>
    <el-table-column prop="orderType" label="Market Side">
      <template #default="scope">
        <order-type-widget :value="scope.row.marketSide"/>
      </template>
    </el-table-column>
    <el-table-column prop="status" label="Status" >
      <template #default="scope">
        <order-status-widget :value="scope.row.orderStatus" :reference="scope.row.reference" />
      </template>
    </el-table-column>
    <el-table-column prop="quantity" label="Quantity" />
    <el-table-column prop="limitPrice" label="Price">
      <template #default="scope">
        <order-price-widget :value="scope.row.limitPrice" :price-type="scope.row.orderPriceType"/>
      </template>
    </el-table-column>
    <el-table-column prop="placementTime" label="Time Placed">
      <template #default="scope">
        <span>{{formatDate(scope.row.placementTime)}}</span>
      </template>
    </el-table-column>
    <el-table-column label="Actions">
      <template #header>
        <el-button @click="newOrder" type="primary" :icon="CirclePlusFilled" circle />
      </template>
      <template #default="scope">
        <el-button @click="edit(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />
        <el-button @click="remove(scope.row.symbol, $event)" type="danger" :icon="Delete" circle />
      </template>
    </el-table-column>

  </el-table>

  <el-dialog v-model="centerDialogVisible" title="Create Order" width="30%" center destroy-on-close>
    <span>
      <OrderPad @order-placed="orderPlaced" @cancel="dialogCancelled" :client-id="determineClientId()" />
    </span>
  </el-dialog>
</template>

<script setup>

import { defineExpose, getCurrentInstance, onMounted, reactive, ref } from "vue";
import { CirclePlusFilled, Edit, Delete } from '@element-plus/icons-vue'
import axios from "axios";
import moment from "moment";
import SymbolWidget from "@/components/SymbolWidget"
import OrderPriceWidget from "@/components/OrderPriceWidget"
import OrderStatusWidget from "@/components/OrderStatusWidget"
import OrderTypeWidget from "@/components/OrderTypeWidget"
import OrderPad from "@/components/OrderPad"

const centerDialogVisible = ref(false)

const app = getCurrentInstance()

const formatDate = function (value) {
  if (value) {
    return moment(String(value)).format('DD/MM/YYYY HH:mm')
  }
}

defineExpose({
  refresh
})

const state = reactive({
  orders: [],
  filteredOrders: [],
})

const newOrder = () => {
  centerDialogVisible.value = true
}

function edit(symbol, event) {
  if (event) {
    console.log("Editing " + symbol)
  }
}

function remove(symbol, event) {
  if (event) {
    console.log("Deleting " + symbol)
  }
}

onMounted(async () => {
  app.appContext.config.globalProperties.serverSettingsPromise.then(() => {
    refresh()
  })
  .catch(() => {
    refresh()
  })

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "ORDER") {
      console.log("Orders " + message)
      refresh()
    }
  })
})
function refresh() {
  // let address = app.config.globalProperties.serverSettings.gatewayAddress + "/order-management-app/api/orders/1.0"
  let address = app.appContext.config.globalProperties.serverSettings.ordersAddress


  app.appContext.config.globalProperties.loggedInUserDetailsPromise
      .then(() => {
        axios.get(address + "/api/orders/1.0").then((response) => {
          if (response.status === 200) {
            state.orders = response.data
            filter()
          }

        })
      })
      .catch(() => {
        axios.get(address + "/api/orders/1.0")
            .then((response) => {
              if (response.status === 200) {
                state.orders = response.data
                filter()
              }
            }
        )
      })
  // console.log("Address " + JSON.stringify(address))

}

const filter = () => {
  state.filteredOrders = state.orders.filter(it => {
    console.log(it.orderStatus)
    return it.orderStatus !== "TRADED"
  })


  console.log("Filtered Orders " + state.filteredOrders)
}

const determineClientId = () => {
  if (app.appContext.config.globalProperties.account.value !== undefined) {
    return app.appContext.config.globalProperties.account.value.id
  } else {
    return null
  }
}

async function orderPlaced() {
  centerDialogVisible.value = false;
  refresh();
}

async function dialogCancelled() {
  centerDialogVisible.value = false;
}

// function delay(time) {
//   return new Promise(resolve => setTimeout(resolve, time));
// }



</script>

<style scoped>

</style>
