<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        Client Search
        <div class="card-buttons">
          <el-button type="primary" :icon="Refresh" circle @click="refreshClients()" />
        </div>
      </div>Active
    </template>
    <el-table :data="state.filteredClients"
              ref="multipleTableRef"
              @selection-change="handleSelectionChange"
              stripe style="width: 100%"
              @row-click="(row) => rowClicked(row)">
      <el-table-column type="selection" width="55" />
      <el-table-column prop="id" label="Client #"/>
      <el-table-column prop="name" label="Account Name"/>
      <el-table-column prop="primaryContact" label="Primary Contact" />
      <el-table-column prop="type" label="Product Type" />
      <el-table-column prop="accountType" label="Account Type" />
      <el-table-column prop="labels" label="Labels"
                       :filters="[
                          { text: 'hvc', value: 'hvc' },
                          { text: 'flagged', value: 'flagged' },
                      ]"
                       :filter-method="filterLabels">
        <template #default="scope">
          <el-tag v-for="item in scope.row.labels" :key="item" class="label" type="danger" >{{ item }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="right">
        <template #header>
          <el-input v-model="search" size="small" placeholder="Type to search" @keyup="filterHandler"/>
        </template>
        <template #default="scope">
          <el-button @click="edit(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />
          <el-button @click="remove(scope.row.symbol, $event)" type="danger" :icon="Delete" circle />
        </template>
      </el-table-column>
    </el-table>

  </el-card>


</template>

<script setup>
import { Edit, Delete, Refresh } from '@element-plus/icons-vue'
import { onMounted, reactive, ref, defineEmits } from 'vue'
import { getCurrentInstance } from 'vue'
import axios from "axios";

const emit = defineEmits(['clientSelected'])
const multipleTableRef = ref([])
const multipleSelection = ref([])
const search = ref('')

const handleSelectionChange = (val) => {
  multipleSelection.value = val
}
const app = getCurrentInstance()

const rowClicked = (account) => {
  console.log("Row selected " + account)
  emit('clientSelected', account)
}

onMounted(async () => {

  app.appContext.config.globalProperties.serverSettingsPromise.then( () => {
    refreshClients()
  })
  .catch(() => { refreshClients()} )

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "CLIENT") {
      console.log("Client " + message)
      refreshClients()
    }
  })

})

function edit(symbol, event) {
  if (event) {
    console.log("Editing " + symbol)
  }
}

function remove(symbol, event) {
  if (event) {
    console.log("Deleting " + symbol)
  }
}
const filterHandler = () => {
  if (search.value === '') {
    state.filteredClients = state.clients
  } else {
    console.log("Search value " + search.value)
    state.filteredClients = state.clients.filter((it) => {
      let result = it.name.includes(search.value) || it.primaryContact.includes(search.value)
      console.log("Filter result on accountName " + it.name + " is " + result)
      return result
    })

  }
}

const filterLabels = (val, row) => {
  if (row.labels !== undefined) {
    console.log("Property is " + val)
    return row.labels.includes(val)
  } else {
    return false
  }
}


function refreshClients() {

  const urlToUse = app.appContext.config.globalProperties.serverSettings.accountsAddress + "/api/account/1.0";
  console.log("Refreshing clients from " + urlToUse);

  axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
    if (response.status === 200) {
      console.log("clients are " + response.data)
      state.clients = response.data
      filterHandler()
    }
  })
  .catch((ex) => {
    console.log("Error getting clients " + ex)
  })

}

const state = reactive({
  clients: [],
  filteredClients: []
})
//
// function edit(symbol, event) {
//   if (event) {
//     console.log("Editing " + symbol)
//   }
// }
//
// function remove(symbol, event) {
//   if (event) {
//     console.log("Deleting " + symbol)
//   }
// }

</script>

<style scoped>

.card-buttons {
  display: flex;
  justify-content: right;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin-right: 5px;
}


</style>
