<template>
  <el-container>
    <el-aside width="600px">
      <el-scrollbar>
        <flagged-accounts-widget class="bottom-margin" />
        <reminders-widget class="bottom-margin" />
      </el-scrollbar>
    </el-aside>
    <el-main>
      <clients-accordion-panel @clientSelected="clientSelected" class="bottom-margin" />
      <client-details-widget class="bottom-margin" v-if="state.client !== null && state.client !== undefined" :client-id="state.client.id" :key="state.client.id" />
    </el-main>
  </el-container>
</template>

<script setup>
import { defineEmits, getCurrentInstance, reactive, ref } from 'vue'

import ClientDetailsWidget from "@/components/ClientDetailsWidget"
import RemindersWidget from "@/components/RemindersWidget"
import FlaggedAccountsWidget from "@/components/FlaggedAccountsWidget"
import ClientsAccordionPanel from "@/components/ClientsAccordionPanel"

const emit = defineEmits(['clientSelected'])


const activePanel = ref('clientSelection')

const app = getCurrentInstance()

const clientSelected = (client) => {
  console.log("Client selected " + client)
  app.appContext.config.globalProperties.account.value = client
  state.client = client
  activePanel.value = 'clientDetails'
  emit('clientSelected', client)
}

const state = reactive({
  client: null
})
</script>

<style scoped>
.bottom-margin {
  margin-bottom: 10px;
}
</style>
