<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Client Details - {{ state.account.name }}</span>
<!--        <div class="card-buttons">-->
<!--          <el-button type="primary" :icon="CirclePlusFilled" circle @click="centerDialogVisible = true" />-->
<!--          <el-button type="primary" :icon="Refresh" circle @click="refresh()" />-->
<!--        </div>-->
      </div>
    </template>
    <el-tabs type="border-card">
<!--      <el-tab-pane label="Portfolio">-->
<!--        <el-table :data="state.equitiesPortfolio" stripe style="width: 100%">-->
<!--          <el-table-column prop="accountName" label="Account Name"/>-->
<!--          <el-table-column prop="tradingAccountBalance" label="Trading Account ($)">-->
<!--            <template #default="scope">-->
<!--              <money-widget :value="scope.row.tradingAccountBalance"/>-->
<!--            </template>-->
<!--          </el-table-column>-->
<!--          <el-table-column prop="marketValue" label="Market Value ($)">-->
<!--            <template #default="scope">-->
<!--              <money-widget :value="scope.row.marketValue"/>-->
<!--            </template>-->
<!--          </el-table-column>-->
<!--          <el-table-column prop="totalCost" label="Total Cost ($)">-->
<!--            <template #default="scope">-->
<!--              <money-widget :value="scope.row.totalCost"/>-->
<!--            </template>-->
<!--          </el-table-column>-->
<!--          <el-table-column prop="change" label="Change ($)" />-->

<!--          &lt;!&ndash;      <el-table-column label="Actions">&ndash;&gt;-->
<!--          &lt;!&ndash;        <template #default="scope">&ndash;&gt;-->
<!--          &lt;!&ndash;          <el-button @click="edit(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />&ndash;&gt;-->
<!--          &lt;!&ndash;          <el-button @click="remove(scope.row.symbol, $event)" type="danger" :icon="Delete" circle />&ndash;&gt;-->
<!--          &lt;!&ndash;        </template>&ndash;&gt;-->
<!--          &lt;!&ndash;      </el-table-column>&ndash;&gt;-->

<!--        </el-table>-->

<!--      </el-tab-pane>-->
      <el-tab-pane label="Holdings">
        <holdings-table-widget :client-id="props.clientId" :key="props.clientId" />
      </el-tab-pane>
      <el-tab-pane label="Orders">
        <equity-orders-table-widget :account-id="props.clientId" :key="props.clientId" />
      </el-tab-pane>
      <el-tab-pane label="Contract Notes">
        <contract-notes-table-widget :client-id="props.clientId" :key="props.clientId" />
      </el-tab-pane>
      <el-tab-pane label="Settlement Accounts">
        <settlement-accounts-table-widget :client-id="props.clientId" :key="props.clientId" />
      </el-tab-pane>
      <el-tab-pane label="Basic">
        Basic Details
      </el-tab-pane>
    </el-tabs>
  </el-card>

</template>

<script setup>
import { defineProps, getCurrentInstance, onMounted, reactive } from "vue";
import HoldingsTableWidget from "@/components/HoldingsTableWidget";
import EquityOrdersTableWidget from "@/components/EquityOrdersTableWidget";
import ContractNotesTableWidget from "@/components/ContractNotesTableWidget";
import SettlementAccountsTableWidget from "@/components/SettlementAccountsTableWidget";
import axios from "axios";

const app = getCurrentInstance()

onMounted(() => {
  getClient()
})

const props = defineProps({
  clientId: String,
})

const state = reactive({
  account: {},
  equitiesPortfolio: [
    {
      accountId: "123456",
      accountName: "Mr Joe Bloggs",
      tradingAccountBalance: 0.00,
      marketValue: 0.00,
      totalCost: 0.00,
      profitLoss: 0.00,
      change: 0
    }
  ],
})


const getClient = () => {
  const urlToUse = app.appContext.config.globalProperties.serverSettings.accountsAddress + "/api/account/1.0/" + props.clientId;
  console.log("Refreshing clients from " + urlToUse);

  axios.get(urlToUse, {timeout: 10 * 1000}).then((response) => {
    if (response.status === 200) {
      console.log("clients are " + response.data)
      state.account = response.data
    }
  })
      .catch((ex) => {
        console.log("Error getting clients " + ex)
      })
}

</script>

<style scoped>

</style>
