<template>
  <el-card class="box-card" style="height: 100%">
    <template #header>
      <div class="card-header">
        <span>Contract Notes</span>
      </div>
    </template>
    <contract-notes-table-widget />

  </el-card>


</template>

<script setup>

import { onMounted, reactive } from 'vue'
import { getCurrentInstance } from 'vue'
import axios from "axios";
import ContractNotesTableWidget from "@/components/ContractNotesTableWidget"

const app = getCurrentInstance()

onMounted(async () => {
  app.appContext.config.globalProperties.serverSettingsPromise.then( () => {
    refresh()
  })

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "CONTRACT_NOTE") {
      console.log("ContractNote " + message)
      refresh()
    }
  })

})

async function refresh() {


  let address = app.appContext.config.globalProperties.serverSettings.gatewayAddress
  axios.get(address + "/backoffice-app/api/contract-notes/1.0").then((response) => {
    if (response.status === 200) {
      state.contractNotes = response.data
    }
  })
}

const state = reactive({
  contractNotes: []
})
//
// function edit(symbol, event) {
//   if (event) {
//     console.log("Editing " + symbol)
//   }
// }
//
// function remove(symbol, event) {
//   if (event) {
//     console.log("Deleting " + symbol)
//   }
// }

</script>

<style scoped>

.card-buttons {
  display: flex;
  justify-content: right;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


</style>
