<template>
  <el-table :data="state.contractNotes" stripe style="width: 100%">
    <el-table-column prop="symbol" label="Symbol">
      <template #default="scope">
        <symbol-widget :symbol="scope.row.symbol"/>
      </template>
    </el-table-column>

    <el-table-column prop="orderType" label="Market Side">
      <template #default="scope">
        <order-type-widget :value="scope.row.marketSide"/>
      </template>
    </el-table-column>
    <!--      <el-table-column prop="status" label="Status" >-->
    <!--        <template #default="scope">-->
    <!--          <order-status-widget :value="scope.row.orderStatus"/>-->
    <!--        </template>-->
    <!--      </el-table-column>-->
    <el-table-column prop="quantity" label="Quantity" />
    <el-table-column prop="price" label="Price">
      <template #default="scope">
        <money-widget :value="scope.row.price"/>
      </template>
    </el-table-column>
    <el-table-column label="Date">
      <template #default="scope">
        <span>{{formatDate(scope.row.creationTime)}}</span>
      </template>
    </el-table-column>
    <!--      <el-table-column prop="tradeTime" label="Trade Time" />-->
    <!--      <el-table-column label="Actions">-->
    <!--        <template #default="scope">-->
    <!--          <el-button @click="edit(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />-->
    <!--          <el-button @click="remove(scope.row.symbol, $event)" type="danger" :icon="Delete" circle />-->
    <!--        </template>-->
    <!--      </el-table-column>-->

  </el-table>
</template>

<script setup>
import OrderTypeWidget from "@/components/OrderTypeWidget";
import MoneyWidget from "@/components/MoneyWidget"
import SymbolWidget from "@/components/SymbolWidget";
import { defineProps, getCurrentInstance, onMounted, reactive } from "vue";
import axios from "axios";
import moment from "moment/moment";

const formatDate = function (value) {
  if (value) {
    return moment(String(value)).format('DD/MM/YYYY HH:mm')
  }
}

const props = defineProps({
  clientId: String,
})

const app = getCurrentInstance()

onMounted(async () => {
  app.appContext.config.globalProperties.serverSettingsPromise.then( () => {
    refresh()
  })
  .catch(() => {
    refresh()
  })

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "CONTRACT_NOTE") {
      console.log("ContractNote " + message)
      refresh()
    }
  })

})

async function refresh() {
  if (props.clientId !== undefined) {
    console.log("Refreshing contract notes for " + props.clientId)
    let address = app.appContext.config.globalProperties.serverSettings.contractNotesAddress
    axios.get(address + "/api/contract-notes/1.0/owner/" + props.clientId).then((response) => {
      if (response.status === 200) {
        state.contractNotes = response.data
      }
    })
  } else {
    console.log("Refreshing all contract notes")
    let address = app.appContext.config.globalProperties.serverSettings.contractNotesAddress
    axios.get(address + "/api/contract-notes/1.0").then((response) => {
      if (response.status === 200) {
        state.contractNotes = response.data
      }
    })

  }
}

const state = reactive({
  contractNotes: []
})
</script>

<style scoped>

</style>
