<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Orders</span>
      </div>
    </template>
    <equity-orders-table-widget />
  </el-card>



</template>

<script setup>

import EquityOrdersTableWidget from "@/components/EquityOrdersTableWidget"


</script>

<style scoped>

.card-buttons {
  display: flex;
  justify-content: right;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


</style>
