<template>
  <el-table :data="state.holdings" stripe style="width: 100%">
    <el-table-column prop="symbol" label="Symbol">
      <template #default="scope">
        <symbol-widget :symbol="scope.row.symbol"/>
      </template>
    </el-table-column>
    <el-table-column prop="quantity" label="Quantity" />
    <el-table-column prop="price" label="Price">
      <template #default="scope">
        <money-widget :value="scope.row.price"/>
      </template>
    </el-table-column>
    <el-table-column label="Actions">
      <template #default="scope">
        <el-button @click="sell(scope.row.id, $event)" type="primary" :icon="Sell" circle />
      </template>
    </el-table-column>

  </el-table>

</template>

<script setup>
import MoneyWidget from "@/components/MoneyWidget"
import SymbolWidget from "@/components/SymbolWidget";
import { Sell } from '@element-plus/icons-vue'
import {getCurrentInstance, onMounted, reactive, defineExpose, defineProps} from "vue";
import axios from "axios";

const app = getCurrentInstance()

const props = defineProps({
  clientId: String,
})

defineExpose({
  refresh
})


onMounted(async () => {
  console.log("Holdings onMounted")
  app.appContext.config.globalProperties.serverSettingsPromise.then( (response) => {
    if (response.status === 200) {
      refresh()
    }
  })
  .catch((message) => {
    console.log("Holdings with ex " + message)
    refresh()
  })

  app.appContext.config.globalProperties.listeners.push((message) => {
    if (message.headers.type === "CONTRACT_NOTE") {
      console.log("Holdings " + message)
      refresh()
    }
  })


})

async function refresh() {

  console.log("Refreshing holdings for " + props.clientId)

  let address = app.appContext.config.globalProperties.serverSettings.holdingsAddress

  app.appContext.config.globalProperties.loggedInUserDetailsPromise
      .then(() => {
        axios.get(address + "/api/holdings/1.0/owner/" + props.clientId).then((response) => {
          if (response.status === 200) {
            state.holdings = response.data
          }
        })
      }).catch(() => {
        axios.get(address + "/api/holdings/1.0/owner/" + props.clientId).then((response) => {
          if (response.status === 200) {
            state.holdings = response.data
          }
        })
  })

}


async function sell(id, event) {
  console.log("Sell " + id + " for event " + event)
}

const state = reactive({
  holdings: []
})


</script>

<style scoped>

</style>
