<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Holdings</span>
        <div class="card-buttons">
          <el-button type="primary" :icon="Refresh" circle @click="refreshHoldings" />
        </div>
      </div>
    </template>
    <holdings-table-widget ref="table" />

  </el-card>


</template>

<script setup>
import { ref } from "vue";
import { Refresh } from '@element-plus/icons-vue'
import HoldingsTableWidget from "@/components/HoldingsTableWidget"

const table = ref('table')

const refreshHoldings = () => {
  table.value.refresh()
}
</script>

<style scoped>

.card-buttons {
  display: flex;
  justify-content: right;
  align-items: center;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


</style>
