<script setup>

</script>

<template>
  <h1>Login or Register</h1>
  <el-row class="row-bg" justify="center">
    <el-col :span="12">
      <el-card class="box-card right">
        <template #header>
          <div class="card-header">
            <span>Register</span>
            <el-button class="button" text>Operation button</el-button>
          </div>
        </template>
        <div v-for="o in 4" :key="o" class="text item">{{ 'List item ' + o }}</div>
      </el-card>
    </el-col>
    <el-col :span="12">
      <el-card class="box-card left">
        <template #header>
          <div class="card-header">
            <span>Login</span>
            <el-button class="button" text>Operation button</el-button>
          </div>
        </template>
        <div v-for="o in 4" :key="o" class="text item">{{ 'List item ' + o }}</div>
      </el-card>

    </el-col>
  </el-row>
</template>

<style scoped>
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.right {
  float: right;
  margin-right: 10px;
}

.left {
  margin-left: 10px;
}

.box-card {
  width: 480px;
  margin-right: 10px;
}

.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.ep-bg-purple {
  background-color: purple;
}

.ep-bg-purple-light {
  background-color: mediumpurple;
}
</style>