<template>
  <div class="common-layout">
    <el-container>
      <el-header height="300">

        <el-row class="row-bg" justify="end">
          <el-col :span="22">
            <ticker-tape :options="state.options" />
          </el-col>
          <el-col :span="2">
            <el-popover placement="left" :width="400" trigger="hover">
              <template #reference>
                <el-icon :size="20" style="float: right; padding: 10px 0; margin-left: 5px">
                  <User />
                </el-icon>
              </template>
              <el-descriptions
                  class="margin-top"
                  title="Adviser Info"
                  :column="1"
                  border
              >
                <el-descriptions-item label="Name">
                  <template #label>
                    <div class="cell-item">
                      Username
                    </div>
                  </template>
                  {{ state.user.name }}
                </el-descriptions-item>
                <el-descriptions-item label="Email">{{ state.user.email }}</el-descriptions-item>
              </el-descriptions>
            </el-popover>
            <el-popover placement="left" :width="200" trigger="hover">
              <template #reference>
                <el-icon :size="20"  style="float: right; padding: 10px 0; margin-left: 5px">
                  <bell />
                </el-icon>
              </template>
            </el-popover>
            <el-popover placement="left" :width="400" trigger="hover" v-if="state.client !== null && state.client !== undefined">
              <template #reference>
                <el-icon :size="20"  style="float: right; padding: 10px 0; margin-left: 5px">
                  <avatar />
                </el-icon>

              </template>
              <el-descriptions
                  class="margin-top"
                  title="Client Info"
                  :column="1"
                  border
              >
                <el-descriptions-item label="Name">
                  <template #label>
                    <div class="cell-item">
                      Account
                    </div>
                  </template>
                  {{ state.client.name }}
                </el-descriptions-item>
              </el-descriptions>
            </el-popover>

          </el-col>
        </el-row>
      </el-header>
      <el-container>
        <el-main>
          <NavBar @clientSelected="clientSelected"  />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script setup>
import NavBar from "@/components/NavBar";
import { getCurrentInstance, onMounted, reactive, ref } from "vue";
import { User, Avatar, Bell } from '@element-plus/icons-vue';
// import { IdentitySerializer, JsonSerializer } from "rsocket-core/build";
import { TickerTape } from 'vue-tradingview-widgets';
import axios from "axios";

const clientSelected = (client) => {
  state.client = client
}
const app = getCurrentInstance()

const state = reactive({
  client: null,
  user: {
    email: "joe.bloggs@unknown.com",
    name: "Joe Bloggs"
  },
  options: {
    symbols: [
      {
        proName: "FXOPEN:AUS200",
        title: "ASX 200"
      },
      {
        proName: "ASX:TLS",
        title: "Telstra"
      },
      {
        proName: "ASX:BHP",
        title: "BHP Biliton"
      },
      {
        proName: "ASX:NAB",
        title: "National Australia Bank"
      },
      {
        proName: "ASX:ANZ",
        title: "ANZ Bank"
      },
      {
        proName: "ASX:WES",
        title: "Westfarmers"
      },
      {
        proName: "ASX:WOW",
        title: "Woolworths"
      },
      {
        proName: "ASX:CBA",
        title: "Commonwealth Bank"
      },
      {
        proName: "ASX:RIO",
        title: "Rio Tinto"
      },
      {
        proName: "ASX:AWC",
        title: "Alumina"
      },
      {
        proName: "FOREXCOM:DJI",
        title: "Dow 30"
      },

    ]
  },
})



app.appContext.config.globalProperties.listeners = []

app.appContext.config.globalProperties.account = ref('account')

app.appContext.config.globalProperties.accounts = ref('accounts')

app.appContext.config.globalProperties.accounts.value = []


// setInterval(function () {
//   if (app.appContext.config.globalProperties.loggedInUserDetails !== undefined) {
//     axios.get("/api/client-messages/1.0/" + encodeURIComponent(app.appContext.config.globalProperties.loggedInUserDetails.email), { timeout: 10 * 1000}).then( (response) => {
//       if (response.status === 200) {
//         if (response.data.length !== 0) {
//           for (let i=0; i<response.data.length; i++) {
//             let message = response.data[i]
//             console.log("Message is " + message)
//             for (let i = 0; i < app.appContext.config.globalProperties.listeners.length; i++ ) {
//               console.log("Listener is: " + app.appContext.config.globalProperties.listeners[i])
//               try {
//                 app.appContext.config.globalProperties.listeners[i](message)
//               } catch (ex) {
//                 console.log("Error invoking listener ", ex)
//               }
//             }
//
//           }
//           console.log("Received streaming message " + response.data)
//         }
//
//       }
//
//     }).catch((ex) => {
//       console.log("Failed to retrieve messages", ex)
//     })
//   }
// }, 1000);


function refreshUser() {
  const urlToUse = "/user";
  console.log("Refreshing user from " + urlToUse);

  (axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
    if (response.status === 200) {
      state.user = response.data
    }

  }))

}

// const refreshClients = () => {
//   const urlToUse = app.appContext.config.globalProperties.serverSettings.accountsAddress + "/api/account/1.0";
//   console.log("Refreshing clients from " + urlToUse);
//
//   axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
//     if (response.status === 200) {
//       console.log("clients are " + response.data)
//       app.appContext.config.globalProperties.accounts.value = response.data
//     }
//   })
//   .catch((ex) => { console.log("Error getting clients " + ex)})
// }

onMounted(() => {
  app.appContext.config.globalProperties.serverSettingsPromise.then((response) => {
    if (response.status === 200) {
      refreshUser()
      // refreshClients()
    }
  }).catch(() => {
    console.log("App - refreshing users")
    refreshUser()
    console.log("App - refreshing clients")
    // refreshClients()

  })

})

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  /*color: #2c3e50;*/
}

.float-right {
  float: right;
}
</style>
