<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <watch-list />
        <market-indices />
        <news-table />
        <market-trades />
      </div>
<!--      <div class="col-10">-->
<!--        <router-view/>-->
<!--      </div>-->
    </div>
  </div>
</template>


<script setup>
import NewsTable from "@/components/NewsTable";
import WatchList from "@/components/WatchList";
import MarketIndices from "@/components/MarketIndices";
import MarketTrades from "@/components/MarketTrades";

</script>

<style scoped>

</style>
