<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Market Watch</span>
<!--        <el-button class="button" text>Operation button</el-button>-->
      </div>
    </template>
    <market-overview :options="state.options" />
<!--    <el-table :data="items" stripe style="width: 100%">-->
<!--      <el-table-column prop="symbol" label="Date" />-->
<!--      <el-table-column prop="percentageChange" label="% Ch" />-->
<!--      <el-table-column prop="change" label="Chg" />-->
<!--      <el-table-column label="Actions">-->
<!--        <template #default="scope">-->
<!--          <el-button @click="refresh(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />-->
<!--        </template>-->
<!--      </el-table-column>-->
<!--    </el-table>-->
  </el-card>

</template>

<script setup>
// import { Edit } from '@element-plus/icons-vue'
import { MarketOverview } from "vue-tradingview-widgets";
import {reactive} from "vue";

const state = reactive({
  options: {
    width: "100%",
    "tabs": [
      {
        "title": "Indices",
        "symbols": [
          {
            "s": "FXOPEN:AUS200",
            "d": "ASX 200"
          },
          {
            "s": "FOREXCOM:SPXUSD",
            "d": "S&P 500"
          },
          {
            "s": "FOREXCOM:DJI",
            "d": "Dow 30"
          },
          {
            "s": "INDEX:NKY",
            "d": "Nikkei 225"
          },
          {
            "s": "INDEX:DEU40",
            "d": "DAX Index"
          },
        ],
        "originalTitle": "Indices"
      },
      {
        "title": "Futures",
        "symbols": [
          {
            "s": "CME_MINI:ES1!",
            "d": "S&P 500"
          },
          {
            "s": "CME:6E1!",
            "d": "Euro"
          },
          {
            "s": "COMEX:GC1!",
            "d": "Gold"
          },
          {
            "s": "NYMEX:CL1!",
            "d": "Crude Oil"
          },
          {
            "s": "NYMEX:NG1!",
            "d": "Natural Gas"
          },
          {
            "s": "CBOT:ZC1!",
            "d": "Corn"
          }
        ],
        "originalTitle": "Futures"
      }
    ]
  },
})
// function refresh(symbol, event) {
//     if (event) {
//       console.log("Refresh index " + symbol)
//     }
//   }
//
//   const items = [
//     {
//       symbol: "^XJO",
//       percentageChange: 0.12,
//       change: 4.3
//     },
//     {
//       symbol: "^XTX",
//       percentageChange: 0.12,
//       change: 4.3
//     },
//     {
//       symbol: "^XBK",
//       percentageChange: 0.12,
//       change: 4.3
//     },
//     {
//       symbol: "^XEJ",
//       percentageChange: 0.12,
//       change: 4.3
//     },
//   ]

</script>

<script>
export default {
  name: "MarketIndices",


}
</script>

<style scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>
