<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Market Trades</span>
        <!--        <el-button class="button" text>Operation button</el-button>-->
      </div>
    </template>
    <el-table :data="items" stripe style="width: 100%">
      <el-table-column prop="symbol" label="Symbol" />
      <el-table-column prop="price" label="Price" />
      <el-table-column prop="time" label="Time" />
<!--      <el-table-column label="Actions">-->
<!--        <template #default="scope">-->
<!--          <el-button @click="refresh(scope.row.symbol, $event)" type="primary" :icon="Edit" circle />-->
<!--        </template>-->
<!--      </el-table-column>-->
    </el-table>
  </el-card>
</template>

<script setup>

const items = [
  {
    symbol: "BHP",
    price: 24.56,
    time: "11:53:12.056 AEST"
  },
  {
    symbol: "BHP",
    price: 29.56,
    time: "11:53:11.899 AEST"
  },
  {
    symbol: "RIO",
    price: 31.56,
    time: "11:53:11.344 AEST"
  },
  {
    symbol: "ANZ",
    price: 9.56,
    time: "11:53:11.198 AEST"
  },
]
</script>

<style scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>
