<template>
  <span>${{asMoney()}}</span>
</template>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
  value: Number
})

const asMoney = () => props.value

</script>

<style scoped>



</style>