<template>

  <el-tabs type="border-card">
    <el-tab-pane>
      <template #label>
        <span class="custom-tabs-label">
          Overview
          <el-icon size="10px"><edit-pen /></el-icon>
        </span>
      </template>
      <overview-widget />
    </el-tab-pane>
    <el-tab-pane>
      <template #label>
        <span class="custom-tabs-label">
          Client Management
          <el-icon size="10px"><edit-pen /></el-icon>
        </span>
      </template>
      <client-management-panel @clientSelected="clientSelected" />
    </el-tab-pane>
    <el-tab-pane>
      <template #label>
        <span class="custom-tabs-label">
          Trading
          <el-icon size="10px"><edit-pen /></el-icon>
        </span>
      </template>
      <trading-panel :client-id="state.clientId"  />
    </el-tab-pane>
    <el-tab-pane>
      <template #label>
        <span class="custom-tabs-label">
          Workspace1
          <el-icon size="10px"><edit-pen /></el-icon>
        </span>
      </template>
      <workspace-widget  />
    </el-tab-pane>
    <el-tab-pane>
      <template #label>
        <span class="custom-tabs-label">
          <el-icon><plus /></el-icon>
        </span>
      </template>
      <div />
    </el-tab-pane>
  </el-tabs>


<!--  <el-menu-->
<!--      :default-active="activeLink"-->
<!--      mode="horizontal"-->
<!--      :router=true-->

<!--  >-->

<!--    <el-menu-item index="/trading">Trading</el-menu-item>-->
<!--    <el-menu-item index="/research">Research</el-menu-item>-->
<!--  </el-menu>-->
</template>

<script setup>
import TradingPanel from "./TradingPanel"
import ClientManagementPanel from "./ClientManagementPanel"
import WorkspaceWidget from "./WorkspaceWidget"
import { defineEmits, reactive } from "vue";
import { Plus, EditPen } from '@element-plus/icons-vue'
import OverviewWidget from "@/components/OverviewWidget";

const clientSelected = (client) => {
  state.clientId = client.id
  emit("clientSelected", client)
}

const emit = defineEmits(['clientSelected'])

const state = reactive({
  clientId: null
})
</script>

<style scoped>
.float-right {
  float: right;
}

.cell-item {
  display: flex;
  align-items: center;
}

.demo-tabs > .el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}
</style>
