<template>
  <el-card class="box-card" style="height: 100%">
    <template #header>
      <div class="card-header">
        <span>News</span>
        <!--        <el-button class="button" text>Operation button</el-button>-->
      </div>
    </template>
    <el-table :data="items" stripe style="width: 100%">
      <el-table-column prop="time" label="Time" :width="100" />
      <el-table-column label="Symbol" :width="100">
        <template #default="scope">
          <symbol-widget :symbol="scope.row.symbol" />
        </template>
      </el-table-column>
      <el-table-column label="Description">
        <template #default="scope">
          <span class="description">{{ scope.row.description }}</span>
        </template>
      </el-table-column>
    </el-table>
  </el-card>

</template>

<script setup>
import SymbolWidget from "@/components/SymbolWidget"
const items = [
  {
    time: "10:54 AEST",
    symbol: "NAB",
    description: "Notification of cessation of securities"
  },
  {
    time: "10:52 AEST",
    symbol: "BHP",
    description: "Final Directors Interest Notice"
  },
  {
    time: "10:48 AEST",
    symbol: "RIO",
    description: "Letter to TRQ shareholders"
  },
  {
    time: "10:45 AEST",
    symbol: "TLS",
    description: "Trading policy"
  },
]
</script>

<style scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
