<template>
  <div class="accordion-item">
    <h2 class="accordion-header" id="optionsAccordionHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#optionsOrders" aria-expanded="false" aria-controls="optionsOrders">
        Options
      </button>
    </h2>
    <div id="optionsOrders" class="accordion-collapse collapse" aria-labelledby="optionsAccordionHeader" data-bs-parent="#ordersAccordion">
      <div class="accordion-body">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Order Type</th>
              <th scope="col">Option Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Limit Price ($)</th>
              <th scope="col">Action</th>
              <th scope="col">Time Placed</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="">BHP</a></td>
              <td style="color: lightgreen">BUY</td>
              <td>CALL</td>
              <td>100</td>
              <td>54.67</td>
              <td>To Open</td>
              <td>24/01/2022 11:34:00.000 AEST</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm">Amend</button>
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
              </td>
            </tr>
            <tr>
              <td><a href="">TLS</a></td>
              <td style="color: red">SELL</td>
              <td>PUT</td>
              <td>34</td>
              <td>12.34</td>
              <td>To Close</td>
              <td>24/01/2022 11:34:00.000 AEST</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm">Amend</button>
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</template>

<script setup>

</script>

<style scoped>

</style>