<template>
  <el-table :data="props.data" stripe style="width: 100%">
    <el-table-column label="Call">
      <el-table-column prop="callLast" label="Last" style="background-color: mediumpurple"/>
      <el-table-column prop="callBid" label="Bid" />
      <el-table-column prop="callAsk" label="Ask" />
    </el-table-column>
    <el-table-column label="Strike" class="strike">
      <el-table-column prop="expiry" label="Expiry" />
      <el-table-column prop="strike" label="Strike" />
    </el-table-column>
    <el-table-column label="Put">
      <el-table-column prop="putBid" label="Bid" />
      <el-table-column prop="putAsk" label="Ask" />
      <el-table-column prop="putLast" label="Last" />
    </el-table-column>
  </el-table>
</template>

<script setup>
import {defineProps} from "vue";

let props = defineProps({
  data: Array,
})


</script>

<style scoped>

.strike {
  text-align: center;
}

.itm {
  background-color: mediumpurple;
}

</style>
