<template>
  <span>${{asMoney()}}</span>
</template>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
  value: Number,
  priceType: String
})

const asMoney = () => {

  if (props.priceType === "LIMIT") {
    return props.value
  } else {
    return "MKT"
  }

}

</script>

<style scoped>



</style>
