<template>
  <el-table :data="state.orderHistory" stripe style="width: 100%">
    <el-table-column prop="fromState" label="From State" />
    <el-table-column prop="timestamp" label="Timestamp">
      <template #default="scope">
        <span>{{formatDate(scope.row.timestamp)}}</span>
      </template>
    </el-table-column>
    <el-table-column prop="toState" label="To State" />
  </el-table>
</template>

<script setup>
import { onMounted, reactive, onActivated } from "vue";
import { defineProps } from "vue";
import axios from "axios";
import { getCurrentInstance } from 'vue'
import moment from "moment";

const app = getCurrentInstance()
const props = defineProps({
  orderReference: String,
  state: String,
})
const state = reactive({
  orderHistory: []
})

const formatDate = function (value) {
  if (value) {
    return moment(String(value)).format('DD/MM/YYYY HH:mm')
  }
}


onMounted(async () => {

  let address = app.appContext.config.globalProperties.serverSettings.ordersAddress
  // console.log("Address " + JSON.stringify(address))
  console.log(address + "/api/orders/history/1.0/" + props.orderReference)
  axios
      .get(address + "/api/orders/history/1.0/" + props.orderReference).then((response) => {
    if (response.status === 200) {
      state.orderHistory = response.data
      console.log(response.data)
    }

  })
      .catch(() => {console.log("Error")})


})

onActivated(async () => {

console.log("Activated")

})

</script>

<style scoped>

</style>
