<template>
  <el-popover placement="right" :width="600" trigger="hover" :show-after="500">
    <template #reference>
      <span v-if="props.value === 'RECEIVED'" class="processing link">Received</span>
      <span v-if="props.value === 'VETTED'" class="processing link">Pending</span>
      <span v-if="props.value === 'ON_MARKET'" class="processed link">On Market</span>
      <span v-if="props.value === 'TRADED'" class="processed link">Traded</span>
      <span v-if="props.value === 'PENDING'" class="processing link">Pending</span>
      <span v-if="props.value === 'ERROR'" class="error link">Error</span>
    </template>
    <OrderHistoryWidget :order-reference="props.reference" :state="props.value" :key="props.value" />
  </el-popover>

</template>


<script setup>

import {defineProps, onMounted} from "vue";
import OrderHistoryWidget from "@/components/OrderHistoryWidget";

let props = defineProps({
  value: String,
  reference: String,
})

onMounted(async () => {
  console.log("OrderPad onMounted")
})

</script>

<style scoped>
.processing {
  color: blue;
}
.processed {
  color: black;
}
.error {
  color: red;
}

.link {

}

.link:hover {
  cursor: pointer;
  color: blue;
}
</style>
