<template>
  <el-form :model="state.order" label-width="120px">
    <el-form-item label="Client">
      <span v-if="state.client !== undefined">{{ state.client.name }}</span>
    </el-form-item>
    <el-form-item label="Account">
      <el-select v-model="state.order.accountId" class="m-2" placeholder="Select Account">
        <el-option
            v-for="item in state.accounts"
            :key="item.id"
            :label="(item.name != null ? item.name : 'Cash Account') + ' - Balance: $' + item.balance + ' Reserved $' + item.reserved"
            :value="item.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Symbol">
      <el-autocomplete
          v-model="state.order.symbol"
          :fetch-suggestions="querySearch"
          clearable
          placeholder="Symbol"
          @select="handleSelect"
      />
    </el-form-item>
    <el-tabs v-model="activeTab" style="border-bottom: 10px">
      <el-tab-pane label="Equities" name="equities">
        <el-form-item label="Market Side">
          <el-radio-group v-model="state.order.marketSide" class="ml-4">
            <el-radio label="BUY" size="large">Buy</el-radio>
            <el-radio label="SELL" size="large">Sell</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="Price Type">
          <el-radio-group v-model="state.order.orderPriceType" class="ml-4">
            <el-radio label="LIMIT" size="large" >Limit</el-radio>
            <el-radio label="MARKET" size="large">Market</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="Limit Price">
          <el-input v-model="state.order.limitPrice">
            <template #prepend>$</template>
          </el-input>
        </el-form-item>
        <el-form-item label="Quantity">
          <el-input v-model="state.order.quantity" />
        </el-form-item>
      </el-tab-pane>
      <el-tab-pane label="Options" name="options">
        <el-collapse v-model="activeCall" accordion>
          <el-collapse-item title="Dec 22" name="dec22">
            <option-grid-widget :data="state.prices.dec22" />
          </el-collapse-item>
          <el-collapse-item title="Jan 23" name="jan23">
            <option-grid-widget :data="state.prices.jan23" />
          </el-collapse-item>
          <el-collapse-item title="Feb 23" name="feb23">
            <option-grid-widget :data="state.prices.feb23" />
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
      <el-tab-pane label="TMC" name="tmc">
        <h4>TBD</h4>
      </el-tab-pane>
    </el-tabs>
    <div style="border-bottom-width: 10px">&nbsp;</div>
    <el-form-item>

      <el-button @click="emit('cancel')">Cancel</el-button>
      <el-button type="danger" @click="onClick" :disabled="proceedDisabled" >Proceed</el-button>
    </el-form-item>
  </el-form>

  <el-dialog
      v-model="dialogVisible"
      title="Order Received"
      width="400px"
  >
    <span>Your order has been received and recorded</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">
          OK
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { onMounted, reactive, defineEmits, getCurrentInstance, ref, defineProps } from "vue";
import axios from "axios";
const emit = defineEmits(['orderPlaced', "cancel"])
import OptionGridWidget from "@/components/OptionGridWidget";

const activeTab = ref('equities')
const dialogVisible = ref(false)
const proceedDisabled = ref(false)
const activeCall = ref('dev22')

const props = defineProps({
  clientId: String,
  messageOnOrderPlaced: Boolean
})

const app = getCurrentInstance()

const onClick = async function() {
  proceedDisabled.value = true
  axios.post(app.appContext.config.globalProperties.serverSettings.ordersAddress + "/api/orders/1.0", state.order)
      .then((result) => {
        if (result.status === 200) {
          state.orders = result.data
          clearOrder()
        }
        if (props.messageOnOrderPlaced === undefined || props.messageOnOrderPlaced === true) {
          dialogVisible.value = true
        }
        proceedDisabled.value = false
        emit('orderPlaced', state.order)
      })
      .catch(() => {
        proceedDisabled.value = false
      })
}

function refreshAccounts() {
  const urlToUse = app.appContext.config.globalProperties.serverSettings.cashAccountsAddress + "/api/cash/accounts/1.0/owner/" + props.clientId;
  console.log("Refreshing cash accounts from " + urlToUse);

  (axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
    console.log("response status " + response.status)
    if (response.status === 200) {
      console.log("Cash accounts result: " + response.data)
      state.accounts = response.data
    }

  })).catch((ex) => console.log("ERROR " + ex))

}

const clearOrder = () => {
  state.order.orderPriceType = "LIMIT"
  state.order.symbol = null
  state.order.marketSide = "BUY"
  state.order.accountId = null
}

onMounted(async () => {
  console.log("OrderPad onMounted " + props.clientId)
  app.appContext.config.globalProperties.serverSettingsPromise
      .then(() => {
        refreshAccounts()
        refreshAccount(props.clientId)
        securities.value = loadAll()
      })
      .catch(() => {
        refreshAccounts()
        refreshAccount(props.clientId)
        securities.value = loadAll()
      })

})

const refreshAccount = (clientId) => {
  const urlToUse = app.appContext.config.globalProperties.serverSettings.accountsAddress + "/api/account/1.0/" + clientId;
  console.log("Refreshing accounts from " + urlToUse);

  (axios.get(urlToUse, { timeout: 10 * 1000}).then( (response) => {
    if (response.status === 200) {
      state.client = response.data
    }
  }))
}

const state = reactive({
  order: {
    ownerId: props.clientId,
    symbol: null,
    marketSide: "BUY",
    orderPriceType: "LIMIT",
    limitPrice: null,
    quantity: 0,
    accountId: null
  },
  accounts: [{
    id: "XXXXXX",
    name: "None Available",
    balance: 0,
    reserved: 0
  }],
  prices: {
    dec22: [
      {
        callLast: 2.09,
        callBid: 2.11,
        callAsk: 2.12,
        expiry: "Dec 22",
        strike: 9.00,
        putBid: 1.70,
        putAsk: 1.80,
        putLast: 1.75
      },
      {
        callLast: 2.08,
        callBid: 2.09,
        callAsk: 2.10,
        expiry: "Dec 22",
        strike: 10.00,
        putBid: 1.68,
        putAsk: 1.78,
        putLast: 1.73
      },
      {
        callLast: 2.06,
        callBid: 2.05,
        callAsk: 2.08,
        expiry: "Dec 22",
        strike: 11.00,
        putBid: 1.65,
        putAsk: 1.67,
        putLast: 1.66
      },
      {
        callLast: 1.87,
        callBid: 1.85,
        callAsk: 1.88,
        expiry: "Dec 22",
        strike: 12.00,
        putBid: 1.34,
        putAsk: 1.37,
        putLast: 1.35
      },
    ],
    jan23: [
      {
        callLast: 2.09,
        callBid: 2.11,
        callAsk: 2.12,
        expiry: "Jan 23",
        strike: 9.00,
        putBid: 1.70,
        putAsk: 1.80,
        putLast: 1.75
      },
      {
        callLast: 2.08,
        callBid: 2.09,
        callAsk: 2.10,
        expiry: "Jan 23",
        strike: 10.00,
        putBid: 1.68,
        putAsk: 1.78,
        putLast: 1.73
      },
      {
        callLast: 2.06,
        callBid: 2.05,
        callAsk: 2.08,
        expiry: "Jan 23",
        strike: 11.00,
        putBid: 1.65,
        putAsk: 1.67,
        putLast: 1.66
      },
      {
        callLast: 1.87,
        callBid: 1.85,
        callAsk: 1.88,
        expiry: "Jan 23",
        strike: 12.00,
        putBid: 1.34,
        putAsk: 1.37,
        putLast: 1.35
      },
    ],
    feb23: [
      {
        callLast: 2.09,
        callBid: 2.11,
        callAsk: 2.12,
        expiry: "Feb 23",
        strike: 9.00,
        putBid: 1.70,
        putAsk: 1.80,
        putLast: 1.75
      },
      {
        callLast: 2.08,
        callBid: 2.09,
        callAsk: 2.10,
        expiry: "Feb 23",
        strike: 10.00,
        putBid: 1.68,
        putAsk: 1.78,
        putLast: 1.73
      },
      {
        callLast: 2.06,
        callBid: 2.05,
        callAsk: 2.08,
        expiry: "Feb 23",
        strike: 11.00,
        putBid: 1.65,
        putAsk: 1.67,
        putLast: 1.66
      },
      {
        callLast: 1.87,
        callBid: 1.85,
        callAsk: 1.88,
        expiry: "Feb 23",
        strike: 12.00,
        putBid: 1.34,
        putAsk: 1.37,
        putLast: 1.35
      },
    ],
  }

})

const securities = ref([])
const querySearch = (queryString, cb) => {
  const results = queryString
      ? securities.value.filter(createFilter(queryString))
      : securities.value
  // call callback function to return suggestions
  cb(results)
}
const createFilter = (queryString) => {
  return (security) => {
    return (
        security.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
    )
  }
}

const loadAll = () => {
  return [
    { value: 'ALU' },
    { value: 'ANZ' },
    { value: 'BHP' },
    { value: 'CBA' },
    { value: 'NAB' },
    { value: 'RIO' },
    { value: 'TLS' },
    { value: 'WES' },
    { value: 'WOW' },
  ]
}

const handleSelect = (item) => {
  console.log(item)
}

</script>

<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>
