<template>

  <span v-if="value === 'BUY'" class="orderTypeBuy">{{value}}</span>
  <span v-if="value === 'SELL'" class="orderTypeSell">{{value}}</span>

</template>

<script setup>

import { defineProps } from "vue";

defineProps({
  value: String,
})

</script>

<style scoped>
  .orderTypeBuy {
    color: lightgreen;
  }
  .orderTypeSell {
    color: red;
  }
</style>
