<template>

  <el-row style="margin-bottom: 10px">
    <el-col :span="24">
      <el-card style="margin-right: 5px; margin-left: 5px" class="box-card">
        <template #header>
          <div class="card-header">
            <span>Active Orders</span>
          </div>
        </template>
        <all-orders-table-widget />
      </el-card>
    </el-col>
  </el-row>
  <el-row :span="24" style="margin-bottom: 10px">
    <el-col :span="8"><div style="margin-right: 5px; margin-left: 5px; height: 100%"><news-table /></div></el-col>
    <el-col :span="8"><div style="margin-right: 5px; margin-left: 5px; height: 100%"><contract-notes-accordion-panel /></div></el-col>
    <el-col :span="8"><div style="margin-right: 5px; margin-left: 5px; height: 100%"><watch-list /></div></el-col>
  </el-row>
  <el-row :span="24" style="margin-bottom: 10px">
    <el-col :span="8"><div style="margin-right: 5px; margin-left: 5px"><stock-market :options="state.options" /></div></el-col>
  </el-row>
</template>

<script setup>
import AllOrdersTableWidget from "@/components/AllOrdersTableWidget"
import NewsTable from "@/components/NewsTable"
import ContractNotesAccordionPanel from "@/components/ContractNotesAccordionPanel"
import WatchList from "@/components/WatchList"
import { StockMarket } from "vue-tradingview-widgets";
import { reactive } from "vue";

const state = reactive({
  options: {
    width: "100%",
    height: 550
  },
})

</script>

<style scoped>

</style>