<template>
  <el-card class="box-card">
    <template #header>
      <div class="card-header">
        <span>Reminders</span>
      </div>
    </template>
    <el-table :data="state.items" stripe style="width: 100%">
      <el-table-column prop="account" label="Account" />
      <el-table-column prop="description" label="Description" />
      <el-table-column prop="due" label="Description" />
    </el-table>
  </el-card>

</template>

<script setup>
import {reactive} from "vue";

const state = reactive({
  items: [
    {
      account: "Joe Bloggs",
      description: "Return call",
      due: "23/11/2022 09:00"
    },
    {
      account: "Ian Jones",
      description: "Check address details",
      due: "23/11/2022 09:00"
    },
    {
      account: "Joe Bloggs",
      description: "Check client details",
      due: "25/11/2022 10:00"
    },
  ]
})
</script>

<style scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
