<template>
  <Chart :chartData="state.chartData" />
</template>

<script setup>
import { Chart } from 'vue-tradingview-widgets';
import { reactive } from "vue";

const state = reactive({
  chartData: {
    "width": "1090px",
    "height": "100%",
    "autosize": true,
    "symbol": "ASX:BHP",
    "interval": "D",
    "timezone": "exchange",
    "theme": "light",
    "style": "1",
    "toolbar_bg": "#f1f3f6",
    "withdateranges": true,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "save_image": false,
    "studies": [
      "ROC@tv-basicstudies",
      "StochasticRSI@tv-basicstudies",
      "MASimple@tv-basicstudies"
    ],
    "show_popup_button": true,
    "popup_width": "1000",
    "popup_height": "650",
    "locale": "en"
  },
})

</script>

<style scoped>

</style>