<template>
<!--  <input type="hidden"  data-bs-backdrop="static" />-->
  <!-- Button trigger modal -->
  <i class="bi bi-search space-left" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="font-size: 1.3rem; color: white;"></i>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <input class="form-control form-control-sm" type="text" placeholder="Search" @keyup="onSearch" v-model="obj.searchText">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
<!--          <button type="button" class="btn btn-primary">Search</button>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
        </div>
        <div class="modal-body">
        </div>
<!--        <div class="modal-footer">-->

<!--        </div>-->
      </div>
    </div>
  </div>
</template>
<script>
window.onkeydown = function(event) {
  if (event.ctrlKey && event.code === 'Space') {
    alert('Undo!');
    return false;
  } else {
    return true;
  }
};

</script>
<script setup>
import { reactive } from 'vue'

const regex = /(?<orderType>BUY|SELL) (?<units>.*) (?<symbol>.*)@(?<limitPrice>\d+\.\d+)/;

const obj = reactive({
  searchText: ""
})

const onSearch = (event) => {
  let match = event.target.value.toUpperCase().match(regex)
  if (match != null) {
    console.log("OrderType=" + match.groups.orderType.toUpperCase() + " Units=" + match.groups.units + " Symbol=" + match.groups.symbol.toUpperCase() + " LimitPrice=" + match.groups.limitPrice)
  }
}

</script>

<style scoped>
.modal-header {
  color: white;
}
</style>