<template>
  <LineChart :chartData="state.chartData" />
</template>

<script setup>
import { LineChart } from 'vue-chart-3';
import { Chart, registerables  } from 'chart.js'
import { reactive} from "vue";
import { defineProps } from "vue";

defineProps({
  symbol: String,
})

Chart.register(...registerables)

const state = reactive({
  chartData: {
    labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19"],
    height: "300px",
    tension: {
      duration: 1000,
      easing: 'linear',
      from: 1,
      to: 0,
      loop: true
    },
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    datasets: [{
      label: 'BHP',
      data: [23.45, 23.46, 23.44, 23.49, 23.44, 23.43, 23.42, 23.43, 23.45, 23.46, 23.44, 23.45, 23.44, 23.42, 23.44, 23.47, 23.48, 23.46, 23.44]
    }],
    options: {
      responsive: true,
      legend: {
        display: false
      }
    }
  },
})


</script>

<style scoped>

</style>
