<template>
  <el-row>
    <el-col :span="12">
      <el-descriptions
          class="margin-top"
          title="Valuation"
          :column="1"
          size="small"
          border
      >
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Capitalization
            </div>
          </template>
          ${{ state.data.valuation.capitalization }}
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Enterprise Value (MRQ)
            </div>
          </template>
          ${{ state.data.valuation.capitalization }}
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Enterprise Value/EBITD
            </div>
          </template>
          17.0805
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Total Shares Outstanding
            </div>
          </template>
          15.908B
        </el-descriptions-item>
      </el-descriptions>






      <el-descriptions
          class="margin-top"
          title="Balance Sheet"
          :column="1"
          size="small"
          border
      >
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">Quick Ratio (MRQ)</div>
          </template>
          0.8472
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Current Ratio (MRQ)
            </div>
          </template>
          0.8794
        </el-descriptions-item>
      </el-descriptions>
    </el-col>
    <el-col :span="12">
      <el-descriptions
          class="margin-top"
          title="Price History"
          :column="1"
          size="small"
          border
      >
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">Average Volume (10 day)</div>
          </template>
          104.182M
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              1-Year Beta
            </div>
          </template>
          1.2675
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              52 Week High
            </div>
          </template>
          182.9400
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              52 Week Low
            </div>
          </template>
          129.0400
        </el-descriptions-item>
      </el-descriptions>


      <el-descriptions
          class="margin-top"
          title="Dividends"
          :column="1"
          size="small"
          border
      >
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">Dividends Paid (FY)</div>
          </template>
          −14.841B
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Dividend Yield Forward
            </div>
          </template>
          0.6821
        </el-descriptions-item>
        <el-descriptions-item>
          <template #label>
            <div class="cell-item">
              Dividends per Share (FY)
            </div>
          </template>
          0.9000
        </el-descriptions-item>

      </el-descriptions>
    </el-col>
  </el-row>
</template>

<script setup>
import { reactive} from "vue";
import { defineProps } from "vue";

defineProps({
  symbol: String,
})

const state = reactive({
  data: {
    valuation: {
      capitalization: "2.334B"
    }
  }
})

</script>

<style scoped>
.small-table {
  font-size: x-small;
}

.margin-top {
  margin-top: 20px;
}

</style>
