<template>
  <el-row>
    <el-col :span="6"><div class="grid-content ep-bg-purple header" /><h1>{{ props.symbol }}</h1></el-col>
    <el-col :span="18">
      <el-row>
<!--        <el-col :span="24"><h2>{{ props.symbol  }}</h2></el-col>-->
        <el-col :span="24">
          <el-descriptions
              class="margin-top"
              :column="3"
              border
          >
            <el-descriptions-item>
              <template #label>
                <div class="cell-item">
                  Bid
                </div>
              </template>
              $23.45
            </el-descriptions-item>
            <el-descriptions-item>
              <template #label>
                <div class="cell-item">
                  Ask
                </div>
              </template>
              $23.50
            </el-descriptions-item>
            <el-descriptions-item>
              <template #label>
                <div class="cell-item">
                  Last
                </div>
              </template>
              <span style="color: lightgreen">$23.47</span>
            </el-descriptions-item>
          </el-descriptions>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="24">
      <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
        <el-tab-pane label="Chart" name="chart"><symbol-chart :symbol="symbol" /></el-tab-pane>
        <el-tab-pane label="Financials" name="financials"><symbol-financials-widget :symbol="symbol" /></el-tab-pane>
        <el-tab-pane label="Overview" name="overview"><symbol-overview-widget :symbol="symbol" /></el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
<!--  <Chart />-->
<!--  <CryptoMarket />-->
<!--  <Snaps/>-->
<!--  <Screener/>-->
</template>

<script setup>
import { ref } from 'vue'
import SymbolChart from "@/components/SymbolChart";
import SymbolFinancialsWidget from "@/components/SymbolFinancialsWidget";
import SymbolOverviewWidget from "@/components/SymbolOverviewWidget";
import { defineProps } from "vue";

let props = defineProps({
  symbol: String,
})

const activeName = ref('chart')

const handleClick = (tab, event) => {
  console.log(tab, event)
}

// import { Chart,CryptoMarket, Snaps, Screener } from 'vue-tradingview-widgets';

</script>

<style scoped>

.header {
  font-size: large;
}
</style>
