<template>
  <div style="display: flex; align-items: center">
    <el-popover placement="right" :width="600" trigger="hover">
      <template #reference>
        <span class="symbol" @click="onClick">{{props.symbol}}</span>
      </template>
      <SymbolSummaryComponent :symbol="props.symbol"/>
    </el-popover>
<!--    <el-popover-->
<!--        :width="300"-->
<!--        popper-style="box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px; padding: 20px;"-->
<!--    >-->
<!--      <template #reference>-->

<!--      </template>-->
<!--      <template #default>-->
<!--        <security-summary-component />-->
<!--      </template>-->
<!--    </el-popover>-->
  </div>

<!--  <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">-->
<!--    Popover on bottom-->
<!--  </button>-->
</template>

<script setup>

import SymbolSummaryComponent from "@/components/SymbolSummaryComponent";
import { defineProps } from "vue";

let props = defineProps({
  symbol: String,
})

function onClick() {
}

</script>

<style scoped>
  .symbol {

  }

  .symbol:hover {
    cursor: pointer;
    color: blue;
  }
</style>
