<template>
  <el-container>
    <el-container>
      <el-main>
        <el-row :gutter="10">
          <el-col :xs="18" :sm="12" :md="8" :lg="7" :xl="7" class="row">
            <el-card class="box-card" style="height: 100%">
              <template #header>
                <div class="card-header">
                  <span>Order Pad</span>
                </div>
              </template>
              <order-pad :client-id="props.clientId" :key="props.clientId" :message-on-order-placed="true" />
            </el-card>
          </el-col>
          <el-col :xs="20" :sm="18" :md="14" :lg="11" :xl="11" class="row">
            <el-card class="box-card" style="height: 100%">
              <template #header>
                <div class="card-header">
                  <span>Chart</span>
                </div>
              </template>
              <research-panel />
            </el-card>
          </el-col>
          <el-col :xs="18" :sm="12" :md="8" :lg="6" :xl="6" class="row">
            <market-indices style="height: 100%" />
          </el-col>
          <el-col :xs="20" :sm="18" :md="12" :lg="8" :xl="8" class="row">
            <watch-list style="height: 100%" />
          </el-col>
          <el-col :xs="8" :sm="8" :md="6" :lg="6" :xl="6" class="row">
            <news-table style="height: 100%" />
          </el-col>
          <el-col :xs="20" :sm="18" :md="12" :lg="8" :xl="8" class="row">
            <market-trades style="height: 100%" />
          </el-col>

        </el-row>
      </el-main>
    </el-container>
  </el-container>
</template>

<script setup>

import NewsTable from "@/components/NewsTable";
import WatchList from "@/components/WatchList";
import MarketIndices from "@/components/MarketIndices";
import MarketTrades from "@/components/MarketTrades";

import OrderPad from "@/components/OrderPad";
import ResearchPanel from "@/components/ResearchPanel";

import { defineProps } from "vue";

const props = defineProps({
  clientId: String,
})

</script>

<style scoped>
.row {
  margin-bottom: 10px;
}

</style>
