<template>
  <el-card class="box-card" style="height: 100%">
    <template #header>
      <div class="card-header">
        <span>Watch List</span>
        <!--        <el-button class="button" text>Operation button</el-button>-->
      </div>
    </template>
    <el-table :data="state.items" stripe style="width: 100%">
      <el-table-column prop="symbol" label="Symbol">
        <template #default="scope">
          <symbol-widget :symbol="scope.row.symbol"/>
        </template>
      </el-table-column>
      <el-table-column prop="percentageChange" label="% Chg" />
      <el-table-column prop="change" label="Chg" />
      <el-table-column prop="last" label="Last" />
      <el-table-column>
        <template #default="">
<!--          <el-button @click="refresh(scope.row.symbol, $event)" type="primary" :icon="Delete" circle />-->
          <el-button type="danger" :icon="Delete" circle />
        </template>
      </el-table-column>
    </el-table>
  </el-card>

</template>


<script setup>
import {Delete} from "@element-plus/icons-vue";
import SymbolWidget from "@/components/SymbolWidget"
import {reactive} from "vue";

const state = reactive({
  items: [
    {
      symbol: "BHP",
      percentageChange: 0.12,
      change: 4.3,
      last: 45.34
    },
    {
      symbol: "RIO",
      percentageChange: 0.12,
      change: 4.3,
      last: 45.34
    },
    {
      symbol: "TLS",
      percentageChange: 0.12,
      change: 4.3,
      last: 45.34
    },
    {
      symbol: "NAB",
      percentageChange: 0.12,
      change: 4.3,
      last: 45.34
    },
  ]

})
</script>

<style scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
