<template>
  <el-row class="flex flex-col justify-center items-center" :gutter="20">
    <el-col class="el-col flex flex-col justify-center items-center" :span="6" ><div class="grid-content ep-bg-purple" /></el-col>
  </el-row>
</template>

<script setup>

</script>

<style scoped>
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
  justify-content: center;
}

.grid-content {
  border-radius: 4px;
  margin: 10px;
  justify-content: center;
  height: 300px;
  box-shadow: var(--el-box-shadow-dark);
}

.text-content {
  justify-content: center;
}
</style>